<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel = 'stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lexend+Peta&display=swap" rel="stylesheet">
 <link rel="icon" href="/img/icon.png">
  <title>About</title>
</head>
<body>
  
  {{>header}}
  <img src="/img/shaq.jpg">
  <p>My name is {{name}}. I'm 15 years old.</p>
  <p> This site uses data from mapbox.com and weatherstack.com</p>
  {{>footer}}
</body>
</html>