<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel = 'stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet">
  <link rel="icon" href="/img/icon.png">
  <title>Help</title>
</head>
<body>
  {{>header}}
  <p>{{msg}}</p>
  <p>Email me: weatherapp@retard.com</p>
  {{>footer}}
</body>
</html>